body {
  font-family: sans-serif;
  background-color: #fafafa;
}

img {
  display: block;
}
.container {
  display: flex;
  justify-content: center;
  max-width: 800px;
  padding: 15px;
}

.smartphone-col {
  display: none;
}

.smartphone {
  max-width: 280px;
}

.login-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  max-width: 180px;
  margin: 16px;
}

.profile {
  max-width: 108px;
  border-radius: 50%;
  background-color: #f8cd1f;
  margin: 16px;
}

button {
  color: white;
  background-color: #0095f6;
  border: none;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  margin: 16px;
  width: 100%;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #4db4f8;
}

.login-col span {
  margin: 16px;
}

a {
  color: #0095f6;
  text-decoration: none;
  font-weight: bold;
}

footer {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 40px auto;
  max-width: 1176px;
}

footer ul {
  padding: 0;
  margin: 0;
}

footer ul li {
  display: inline-block;
  padding: 8px;
}

footer a {
  color: #00376b;
}

footer span {
  display: block;
  color: grey;
  padding: 8px;
}

@media (min-width: 451px) {
  .container {
    align-items: center;
    min-height: 80vh;
  }

  .login-col {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 24px 48px;
  }
}

@media (min-width: 876px) {
  .container {
    margin: auto;
  }

  .smartphone-col {
    display: block;
    margin-right: 48px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
